<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SectionAGV" type="HikAGVDll.SectionAGV, HikAGV"/>
  </configSections>

  <SectionAGV>
	  <!-- <AGVUrlSettings RestURL="http://192.168.4.9:8182/rcms/services/rest/hikRpcService/{0}" AGVStatusURL="http://192.168.4.9:8182/rcms-dps/rest/{0}"/>-->
    <!-- 測試路徑 -->
    <AGVUrlSettings RestURL="http://localhost:44300/rcms/services/rest/hikRpcService/{0}" AGVStatusURL="http://localhost:44300/rcms-dps/rest/{0}"/>
    <!-- 測試路徑 -->
    <AGVSettings AGVTaskType="F001" WarnContent="安全告警-前碰撞条触发,安全告警-后碰撞条触发"
               CrossFloorShuttleId="3" IdleReturnTimeout="300" IdleReturnFloor="4F"
               MapCodeFloorMapping="AA:1F,BB:2F,DD:3F,FF:4F" />
  </SectionAGV>
</configuration>