<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SectionAGV" type="HikAGVDll.SectionAGV, HikAGV"/>
  </configSections>

  <SectionAGV>
	  <!-- <AGVUrlSettings RestURL="http://192.168.4.9:8182/rcms/services/rest/hikRpcService/{0}" AGVStatusURL="http://192.168.4.9:8182/rcms-dps/rest/{0}"/>-->
    <!-- 測試路徑 -->
    <AGVUrlSettings RestURL="http://localhost:54632/rcms/services/rest/hikRpcService/{0}" AGVStatusURL="http://localhost:54632/rcms-dps/rest/{0}"/>
    <!-- 測試路徑 -->
    <AGVSettings AGVMapCode="AA,BB,DD,FF" AGVTaskType="F001" SameFloorTaskTypeMap="1F:F002,2F:F001" CrossFloorTaskTypeMap="1F>3F:F13Test,3F>1F:F31Test,3F>4F:F34Test,4F>3F:F43Test,2F>4F:F24Test,4F>2F:F42Test" WarnContent="安全告警-前碰撞条触发,安全告警-后碰撞条触发" />
  </SectionAGV>
</configuration>